.pagination__laravel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.frameCertificate {
    -ms-zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.5);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}

.frameCertificate {
    width: 400px;
    height: 300px;
    border: 1px solid black;
}
